// Reset
@import "reset.less";

// Fonts
@import "fonts.less";
.text_regular { font-family:'Didot W01 Roman'; }
.regular { font-family:'FrutigerLTW01-55Roman'; }
.bold { font-family:'Frutiger LT W01 65 Bold'; }
.light { font-family:'FrutigerLTW01-45Light'; }
// Others
@import "flags.less";

// Base
html, body { background: #000000; color: #fff; .text_regular; min-width: 900px; width: 100%; height: 100%; }

a { text-decoration: none; color: #fff; }