// Reset
@import "reset.less";

// Fonts
@import "fonts.less";
.text_regular { font-family:'Didot W01 Roman'; }
.regular { font-family:'FrutigerLTW01-55Roman'; }
.bold { font-family:'Frutiger LT W01 65 Bold'; }
.light { font-family:'FrutigerLTW01-45Light'; }
// Others
@import "flags.less";

// Base
html, body { background: #000000; color: #fff; .text_regular; min-width: 900px; width: 100%; height: 100%; }

a { text-decoration: none; color: #fff; }


.content{ width:100%; height:100%; overflow: hidden; position: absolute; visibility: hidden;}
.main{ width:100%; height:100%; overflow: hidden; position: absolute; }

h1{
    position: absolute;
    width:257px;
    height:49px;
    background-image: url(../imgs/ui/title.png); background-repeat: no-repeat;
    text-indent: -600px;
    z-index: 900;
    top:18px;
    left:22px;
}

.picts_all {background-image: url(../imgs/ui/picts.png); background-repeat: no-repeat;}

.scroll_to_explore{
	position: absolute;
	display: block;
	bottom:37px;
	left:50%;
	text-align: center;
            .regular;
            font-size: 14px;
            z-index:250;
            height: 80px;
}
#scroll_arrow{
    position: absolute;
    width:38px; height:38px;
    left:50%;
    margin-left: -19px;
    bottom: 20px;
}

section{ position: absolute; width:100%; height: 100%; overflow: hidden;}

.section_background{ position: absolute; z-index: 1; }

h2{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    display:inline-block;
}

// MAIN MENU
nav{
    position: absolute;
    top: 50%;
    right: 0;
    height: 180px;
    width: 155px;
    margin-top: -95px;
    z-index: 400;
    ul{
        position: absolute;
        z-index: 10;
        width: 100%;
    }
    li{
        position: absolute;
        width : 100%;
    }
    ul li a{
        text-align: right;
        display: block;
        width : 100%;
        .light;
        font-size: 14px;
        letter-spacing: 1px;
        span{
            visibility: hidden;
            margin-right: 10px;
            display: block;
            text-align: right;
        }
    }
}

#menu_picts{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

// ***** HOME ******

.home_anchors_position {
    position: absolute;
    width:1200px;
    height:800px;
    left:50%;
    top:50%;
    margin-left: -575px;
    margin-top: -510px;
}

.home_anchors{ .home_anchors_position; z-index: 50;
    a{ position: absolute;
        display: block;
        height:34px;
        overflow: hidden;
        width:1000px;
            span{
                position: absolute;
                padding-left: 42px;
                padding-right: 17px;
                .light;
                font-size: 16px;
                padding-top: 10px;
            }
    }
}
.home_anchors_roll{color:#121212;}
#raphael_home_anchors{ .home_anchors_position; z-index: 45; }

.home_machine{
    position: absolute;
    width:574px;
    height:569px;
    left:50%;
    top:50%;
    margin-left: -300px;
    margin-top: -285px;
    z-index: 3;
}

.content_line_sep{margin-top: 18px; margin-bottom: 22px; height:1px; width:100%; background-color: #ffffff;}
.content_span_text{ .light; display: block; font-size: 15px; width:100%; line-height: 29px; letter-spacing: 1px; }

// ***** COFFEE RANGE ***** //

.range_machine{position: absolute; z-index: 10; left:0; bottom:0;}
.range_content{
    position: absolute; z-index: 15; top:50%; margin-top: -315px;
    .range_description{font-size: 16px; .light; letter-spacing: 1px;}
    .range_coffees{
        width:100%;
        margin-top: 60px;
        .range_cat{
            float: left;
            margin-right: 34px;
            .range_cat_title{
                float: left;
                width:100%;
                height:30px;
                span{
                    .light;
                    display: block;
                    float: left;
                    font-size: 15px;
                }
                div{
                    margin-top: 8px;
                    margin-left: 19px;
                    float: left;
                    height: 1px;
                    background-color: #ffffff;
                }
            }
            .range_cat_caps{
                width:100%;
                height:104px;
                a{
                    display: block;
                    float: left;
                    width:55px;
                    height:90px;
                    margin-right: 20px;
                    span{
                        display: block;
                        width:100%;
                        text-align: center;
                        .light;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

// ***** MILK ****** //

.milk_machine{position: absolute; z-index: 10; left:50%; bottom:0;margin-left: -666px;}
.milk_content{
    position: absolute; z-index: 15; top:50%; margin-top: -235px; margin-left: 130px; left:50%;
    .content_line_milk_sep{margin-top: 17px; margin-bottom: 12px; height:1px; width:100%; background-color: #ffffff;}
    .milk_description{.content_span_text;float:left;}
    .visual_fig{
        position:relative;
        background-image:url(../imgs/sections/milk_fig_bg.png); background-repeat: no-repeat;
        width:197px;
        height:204px;
        float:left;
        margin-left: 12px;
        margin-top: 29px;
        .visual_pot{
            background-image:url(../imgs/sections/milk_fig_pot.png); background-repeat: no-repeat;
            width:66px;
            height:66px;
            margin-left: 65px;
        }
        span{
            display: block;
            position: absolute;
            top:142px;
            text-align: center;
            .bold;
            font-size: 14px;
            width:166px;
            left:50%;
            margin-left: -83px;
        }
    }
    .logo_clean{
        margin-top: 22px;
        background-image:url(../imgs/sections/milk_pict_clean.png); background-repeat: no-repeat;
        width:60px;
        height:99px;
        float:left;
        margin-left: 12px;
    }
}

// ***** TOUCH ***** //
.touch_content{
    position: absolute; z-index: 15; left:88px; top:50%; margin-top: -171px; width:100%;
    span{ .content_span_text; }
}

// ***** DESIGN ***** //

.design_machine{position: absolute; z-index: 10; left:0; bottom:0; }
.design_content{
    .content_line_design_sep{margin-top: 4px; margin-bottom: 14px; height:1px; width:100%; background-color: #ffffff;}
    position: absolute; z-index: 15; left:506px; top:50%; margin-top: -261px; width:100%;
    .design_description{ .content_span_text;}
    .design_content_infos{
        width:100%;
        .design_content_infos_col{
            float:left;
            width:190px;
            margin-top: 60px;
            h3{
                display: inline-block;
                height:70px;
                padding-right: 70px;
                .regular;
                font-size: 18px;
            }
            div{
                height:1px;
                background-color: #ffffff;
                margin-bottom: 28px;
                width:132px;
            }
            ul{
                li{
                    padding-right: 20px;
                    font-size: 14px;
                    .light;
                    margin-bottom:30px;
                    letter-spacing: 1px;
                    list-style-type : disc;
                    margin-left: 13px;
                }
            }
        }
    }
}

// POPINS
.popins{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 990;
    overflow: hidden;
    .popin{
        background-color:#0a0a0a;
        border:1px solid #424242;
        border-radius: 10px;
        left:50%;
        top:50%;
        position: absolute;
        overflow: hidden;
        z-index: 10;
        h4{
            margin-top: 30px;
            width:100%;
            text-align: center;
            font-size: 24px;
        }
        .popin_close{
            display: block;
            position: absolute;
            right: 0;
            top:0;
            width:21px;
            height:21px;
        }
    }
    .order_phone{
        width:550px;
        height:205px;
        margin-left: -275px;
        margin-top: -102px;
        visibility: hidden;
    }
    .share_mail, .select_lang{
        width:842px;
        height:530px;
        margin-left: -421px;
        margin-top: -250px;
    }
    .select_lang{
        background-image:url(../imgs/ui/bg_langs_popin.jpg); background-repeat: no-repeat;
        .lang_zones{
            position:absolute;
            top:93px;
            height:50px;
            width:666px;
            border-bottom: 1px solid #676767;
            left:50%;
            margin-left: -333px;
            li{
                float: left;
                a{
                    display: block;
                    .regular;
                    font-style: italic;
                    font-size: 13px;
                }
            }
        }
        .select_langs{
            position:absolute;
            top:143px;
            height:370px;
            width:666px;
            left:50%;
            margin-left: -333px;
            overflow: hidden;
            .lang_zone{
                position:absolute;
                margin-top: 34px;
                width:800px;
                height:340px;
                margin-left: 30px;
                ul{
                    float: left;
                    width:167px;
                    li{
                        clear: both;
                        list-style-type : none;
                        height: 54px;
                        font-size: 11px;
                        width:167px;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        .country_title{
                            width:167px;
                            height:21px;
                            .country_flag{
                                background-image: url(../imgs/ui/flags.png);
                                width: 16px;
                                height: 11px;
                                margin-right: 9px;
                                float :left;
                                border: 1px solid black;
                            }
                            span{
                                .regular;
                                display: block;
                                float:left;
                            }
                        }
                        .country_langs{
                            margin-left: 25px;
                            .light;
                            a{
                                display: block;
                                float: left;
                                margin-right: 4px;
                                height:11px;
                            }
                            .country_lang_sep{
                                padding-left: 4px;
                                border-left: 1px solid #a4a4a4;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .share_mail{
        visibility: hidden;
        text-align: center;
        background-image:url(../imgs/ui/bg_mail_popin.jpg); background-repeat: no-repeat;
        background-position: 0 bottom;
        span{
            display: block;
            width:100%;
            margin-top: 17px;
            .light;
            font-size: 13px;
            color:#787878;
        }
        form{
            display: block;
            position:absolute;
            width:660px;
            height:411px;
            margin-left: -330px;
            left:50%;
            bottom: 0;
            border-top: 1px solid #454545;
            span{
                margin-top: 30px;
                color:#ffffff;
                margin-bottom: 10px;
                font-size: 12px;
                .bold;
            }
            div{
                width:100%;
                height:37px;
            }
            input[type=text] {
                background-color: #000000;
                border-radius: 5px;
                border: 1px solid #505050;
                height: 40px;
                width:230px;
                color:#ffffff;
                .regular;
            }
            input[type=submit] {
                font-size: 14px;
                border-radius: 5px;
                padding-bottom:10px;
                padding-top:10px;
                padding-left:38px;
                padding-right:38px;
                color:#ffffff;
                border: 0 none;
                text-transform: uppercase;
                /* fallback */
                background-color: #8e773e;
                /* Safari 4-5, Chrome 1-9 */
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#726032), to(#9c8345));
                /* Safari 5.1, Chrome 10+ */
                background: -webkit-linear-gradient(top, #9c8345, #726032);
                /* Firefox 3.6+ */
                background: -moz-linear-gradient(top, #9c8345, #726032);
                /* IE 10 */
                background: -ms-linear-gradient(top, #9c8345, #726032);
                /* Opera 11.10+ */
                background: -o-linear-gradient(top, #9c8345, #726032);
            }
            input[type=submit]:focus {
                outline:0;
            }
        }
    }
    .popin_black_bg{
        width:100%;
        height:100%;
        background-color: #000000;
        background-color: rgba(0,0,0,0.8);
        z-index: 1;
    }
}

.phone_number{
    position: absolute;
    left:50%;
    top:103px;
    width:230px;
    height:42px;
    margin-left: -115px;
    background-color: #ffffff;
    color:#000000;
    border-radius: 3px;
    background-image:url(../imgs/ui/phone.jpg); background-repeat: no-repeat;
    background-position: 43px center;
    span{
        display: block;
        .bold;
        font-size: 14px;
        margin-top: 14px;
        width:100%;
        text-align: center;
    }
}

// HEADER
header{
    position: absolute;
    top: 17px;
    right: 0;
    height: 20px;
    width: 285px;
    z-index: 500;
    visibility: hidden;
}

header ul{
    position: relative;
    height: 15px;
}

header ul li{
    display: inline;
    position:relative;
    float: left;
    margin: 0px 5px;
    height: 15px;
    cursor:pointer;
}

header ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

header ul li img{
    height: 10px;
    float: left;
    position: relative;
}

.header_pict_all { .picts_all; height: 15px; width: 15px;}

header ul .border{
    border-right: 1px solid #7c7c7d;
    padding-right: 10px;
}

header ul .apple{ padding-top: 0px; }
header .black .apple .apple_sprit{ .header_pict_all; background-position: 0 -15px; }
header .white .apple .apple_sprit{ .header_pict_all; background-position: 0 0; }
header .android .android_sprit{ .header_pict_all; background-position: -15px 0; }
header ul .mail{ padding-top: 1px; }
header .black .mail .mail_sprit{ .header_pict_all; background-position: -30px -15px; }
header .white .mail .mail_sprit{ .header_pict_all; background-position: -30px 0; }
header ul .pinterest{ padding-top: 0px; }
header .black .pinterest .pinterest_sprit{.header_pict_all; background-position: -45px -15px;}
header .white .pinterest .pinterest_sprit{.header_pict_all; background-position: -45px 0;}
header ul .twitter{padding-top: 0px;}
header .black .twitter .twitter_sprit{.header_pict_all; background-position: -60px -15px;}
header .white .twitter .twitter_sprit{.header_pict_all; background-position: -60px 0;}
header ul .facebook{padding-top: 0px;}
header .black .facebook .facebook_sprit{.header_pict_all; background-position: -75px -15px;}
header .white .facebook .facebook_sprit{.header_pict_all; background-position: -75px 0;}
header ul .sound{padding-top: 1px;}
header .black .sound .sound_sprit{.header_pict_all; background-position: -88px -15px;}
header .white .sound .sound_sprit{.header_pict_all; background-position: -88px 0;}
header .white .sound .sound_sprit_off{.header_pict_all; background-position: -103px 0;}
header ul .fullscreen{padding-top: 1px;}
header .black .fullscreen .fullscreen_sprit{.header_pict_all; background-position: -120px -15px;margin-top: 1px;}
header .white .fullscreen .fullscreen_sprit{.header_pict_all; background-position: -120px 0;}

// FOOTER

footer{
    position: absolute;
    bottom: -37px;
    left: 0;
    height: 36px;
    width: 100%;
    z-index: 510;
    border-top: 1px solid #3f3d3a;
    background-color: #000000;
}

footer .logo{
    position: relative;
    float: left;
    width: 93px;
    height: 17px;
    cursor: pointer;
    margin-top: 11px;
    margin-left: 30px;
    margin-right: 26px;
    .picts_all;
    background-position: 0px -30px;
    display: block;
}

footer ul{ position: relative; float: left; margin-top: 9px;}
footer ul li{ display: inline; text-transform: uppercase; font-size: 10px; margin-right: 21px; }
footer ul li a{
    color: #fefefe;
    .light;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
}
footer .sep {width:22px; height: 7px; border-left: 1px solid #5f5f5f;}
.order_footer_btn{
	position: absolute;
	width:308px;
	height: 36px;
	right:0;
	bottom: -37px;
	display: block;
	background-image: url(../imgs/ui/footer_order_bg.png); background-repeat: no-repeat;
	z-index: 512;
}
.order_footer_btn span{
	display: block;
	position:absolute;
	right: 0;
	top: 10px;
	.picts_all;
	padding-left: 24px;
	padding-right: 35px;
	background-position: -106px -29px;
	.bold;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: 1px 1px 4px #67562c;
	color:#ffffff;
}
.order_footer_btn_visual{
            display: block;
            position:absolute;
            right: 0;
            bottom:-126px;
            z-index: 513;
            width:119px;
            height:123px;
}


/** Retina **/
@media
(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    header .android .android_sprit{
        background:url("../imgs/ui/retina/android@2x.png");
        background-size:9px 10px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .facebook .facebook_sprit{
        background:url("../imgs/ui/retina/facebook_white@2x.png");
        background-size:7px 12px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .fullscreen .fullscreen_sprit{
        background:url("../imgs/ui/retina/fullscreen_white@2x.png");
        background-size:16px 12px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .mail .mail_sprit{
        background:url("../imgs/ui/retina/mail_white@2x.png");
        background-size:15px 10px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .pinterest .pinterest_sprit{
        background:url("../imgs/ui/retina/pinterest_white@2x.png");
        background-size:9px 12px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .sound .sound_sprit{
        background:url("../imgs/ui/retina/sound@2x_all.png");
        background-size:9px 21px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .sound .sound_sprit_off{
        background:url("../imgs/ui/retina/sound@2x_all.png");
        background-size:9px 21px; background-position: 0 -11px; background-repeat: no-repeat;
    }
    header .white .apple .apple_sprit{
        background:url("../imgs/ui/retina/apple_white@2x.png");
        background-size:9px 11px; background-position: 0 0px; background-repeat: no-repeat;
    }
    header .white .twitter .twitter_sprit{
        background:url("../imgs/ui/retina/twitter_white@2x.png");
        background-size:11px 9px; background-position: 0 0px; background-repeat: no-repeat;
    }
    footer .logo{
        background:url("../imgs/ui/retina/logo_footer_nespresso_white@2x.png");
        background-size:93px 17px; background-repeat: no-repeat;
        height: 17px;
        width: 93px;
    }
}
